<ion-view class="beerStatusView">
  <ion-pane ng-controller="BeerStatusController as vm">
    <h1 class="title">{{vm.model.beer}}</h1>

    <div ng-controller="BeerAnimationsController as bac">
      <div class="beerAnimation">
        <div class="temp">
          <div class="innerCircle"></div>
          <div class="number">{{vm.model.currentTemp}}<span class="deg">&deg;</span></div>
        </div>
        <div class="glass"></div>
        <div class="backgroundMask"></div>
        <div class="liquid"></div>
        <div class="drops"></div>
        <div class="mess"></div>
      </div>
    </div>

    <a class="button button-container pull-left back" href="javascript: window.history.go(-1)">Back</a>

  </ion-pane>
</ion-view>