@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin transitionProps($time, $method) {
  -webkit-transition: all #{$time} #{$method};
  -moz-transition:all #{$time} #{$method};
  -o-transition:all #{$time} #{$method};
  transition:all #{$time} #{$method};
}

@mixin transform($val) {
  -ms-transform: #{$val};
  -webkit-transform: #{$val};
  transform: #{$val};
}

@mixin filter($val) {
  -ms-filter: #{$val};
  -webkit-filter: #{$val};
  filter: #{$val};
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// Custom animations
@include keyframes(testSpin) {
  0% {
    @include transform("rotate(70deg)");
  }
  100% {
    @include transform("rotate(500deg)");
  }
}