.disabled {
  background: $light;
}
a.button.button-go-chill:active {
  background: $assertive;
  border-color: $assertive;
  color: #FFF;
}
a.small.back:active {
  border-color: $assertive;
  color: #FFF;
}
.title {
  font-weight: bold;
}
.marker {
  background: red;
  height: 1px;
  position: absolute;
  top: 200px;
  width: 100%;
  span {
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.8px;
    padding-left: 5px;
    position: absolute;
    top: -20px;
    text-transform: uppercase;
  }
}
.actual {
  background: $orange;
  top: -1000px;
}
.optimal {
  background: $blue;
  top: -1000px;
}
.system {
  color: $assertive;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 115px;
  text-transform: uppercase;
}
.scale {
  height: 400px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 150px;
  width: calc(100% - 20px);
  .container {
    height: 100%;
    position: absolute;
    right: 0;
    width: 85px;
  }
  .notch {
    height: calc(100% / 6);
    position: relative;
    span {
      color: #FFF;
      font-size: 15px;
      padding: 5px 10px 0 0;
      position: absolute;
      top: -14px;
      left: 0;
    }
    .ten {
      background: #FFF;
      display: block;
      height: 1px;
      position: absolute;
      right: 0;
      top: 0;
      width: 60%;
    }
    .five {
      background: #AAA;
      height: 1px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 40%;
    }
  }
}
.line {
  height: 150px;
  overflow: auto;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  .half {
    float: left;
    width: 50%;
  }
  a.small {
    color: #FFF;
    display: block;
    margin: 0 auto;
    padding-top: 1px;
    width: 150px;
  }
}